body {
  padding-left: 11em;
  font-family: Tw Cen MT;
  background-image:img.vixdata.io/pd/jpg-large/es/sites/default/files/btg/curiosidades.batanga.com/files/122204403.jpg; }
h1 {
    font-family: Impact;
    text-align: center;
   }
img{
  width:800 px;
}
